---
import BaseLayout from '../layouts/BaseLayout.astro';
import { fetchPosts, fetchTags } from '../lib/strapi';
import PostPreview from '../components/PostPreview.astro';
import AllPostsNav from '../components/AllPostsNav.astro';
const pageTitle = 'All Posts';

const posts = await fetchPosts();
const tags = await fetchTags();
---

<BaseLayout title={pageTitle}>
  <AllPostsNav />
  <ul
    class="flex border-b dark:border-white/30 border-black/30 pb-4 items-center justify-center flex-wrap gap-4"
  >
    {
      tags.map((tag) => (
        <li>
          <a href={`/tags/${tag.slug}`} class="text-sm underline">
            #{tag.name}
          </a>
        </li>
      ))
    }
  </ul>
  <h1>All Blog Posts</h1>
  <ul class="my-5 mx-4">
    {posts.map((post) => <PostPreview post={post} category={post.category} />)}
  </ul>
</BaseLayout>
