---
import '../styles/global.css';
import type { Post, Category } from '../types';
const { post, category } = Astro.props as { post: Post; category: Category };
import { formatDate } from '../utils';
---

<li class="py-4 px-3 border-b border-pink-500 mb-2">
  <div>
    <a
      href={`/${category.slug}/${post.slug}`}
      class="underline text-2xl visited:dark:text-[#A3DB3D]! dark:text-white! visited:text-[#5653f0]! hover:no-underline! decoration-3! [word-spacing:0.05rem]"
      >{post.title}
    </a>
    <time
      datetime="Fri Jun 06 2025 00:00:00 GMT+0000 (Coordinated Universal Time)"
      class="text-xl italic dark:text-dark-gray text-gray font-medium"
      >{formatDate(post.publishedDate)}
    </time>
  </div>
  {
    post.excerpt ? (
      <p class="my-2! [word-spacing:0.125rem] text-lg tracking-wider">
        {post.excerpt}
      </p>
    ) : null
  }
  <ul class="flex pt-1">
    {
      post.tags?.map((tag) => (
        <li>
          <a
            href={`/tags/${tag.slug}`}
            class="text-lg font-semibold inline-block mr-2 underline"
          >
            #{tag.name}
          </a>
        </li>
      ))
    }
  </ul>
</li>
