---
import BaseLayout from './BaseLayout.astro';
import type { Post } from '../types/';
const { frontmatter } = Astro.props as { frontmatter: Post };
---

<BaseLayout title={frontmatter.title} description={frontmatter.excerpt}>
  <h1>
    {frontmatter.title}
    <p>Published on {frontmatter.publishedDate}</p>
    <slot />
  </h1>
  <ul class="flex gap-2 flex-wrap">
    {
      frontmatter.tags?.map((tag) => (
        <li>
          <a href={`/tags/${tag.slug}`}>{tag.name}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
