---
import type { Post } from '../types';
import BaseLayout from './BaseLayout.astro';
import AllPostsNav from '../components/AllPostsNav.astro';

interface Props {
  post: Post;
  title: string;
}

const { post, title } = Astro.props as Props;
---

<BaseLayout title={title}>
  <AllPostsNav />
  <div class="post mb-3">
    <header>
      <h1 class="text-3xl text-center my-8">{post.title}</h1>

      {
        post.featuredImage && (
          <img
            src={'http://localhost:1337' + post.featuredImage.url}
            alt={post.featuredImage.alternativeText ?? post.title}
          />
        )
      }
      <div class="w-6/12 mx-auto my-8">
        <hr />
      </div>
    </header>

    <section class="prose">
      <Fragment set:html={post.content} />
    </section>
  </div>
  <div class="mb-20">
    {
      post.tags && post.tags.length > 0 && (
        <nav aria-label="Post tags">
          <ul class="flex gap-3">
            {post.tags.map((tag) => (
              <li>
                <a href={`/tags/${tag.slug}`} class="underline">
                  #{tag.name}
                </a>
              </li>
            ))}
          </ul>
        </nav>
      )
    }
  </div>
</BaseLayout>
